Dockerfile
Justfile
delivery/*.beam
delivery/*.ez
delivery/build
delivery/erl_crash.dump
delivery/priv
factory/.cache/
factory/builddir/
factory/compile_commands.json
factory/factory
factory/hash-codes
factory/result
factory/tests/body/*.test
factory/tests/head/*.test
result
