---
---
html {}
body {
  font-family: lato, monospace;

  a:link, a:visited {
    text-decoration: none;
    color: unset;
  }
  a:hover, a:active {
    text-decoration: underline;
  }
}
footer {
  text-align: center;
  font-size: 14px;
}

/* Sticky footer using flex display. */
body {
  min-height: 95vh;  /* Putting 100vh would make it slightly too big. */
  display: flex;
  flex-direction: column;
}
header, footer {
  flex: 0 0 auto;
}
main {
  flex: 1 0 auto;
}
