@font-face {
  font-family: "JetBrains Mono";
  src: url(/styles/fonts/JetBrainsMono-Light.ttf) format("truetype");
}

html {
  /* Font size is 16px on a 1920 width screen.
   *
   * Increases linearly for small screens up to 24px for 320 width screen.
   */
  font-size: calc(24px - (24 - 16) * ((100vw - 320px) / (1920 - 320)));
  font-family: JetBrains Mono, monospace;
  line-height: 1.4;
}

header {
  font-size: 1.3rem;
  font-weight: bold;
}

pre code {
  font-size: 0.8rem;
}

.article-tags {
  font-size: 0.9rem;
  font-style: italic;
}
