@font-face {
  font-family: "JetBrains Mono";
  src: url(/styles/fonts/JetBrainsMono-Light.ttf) format("truetype");
}

html {
  /* Font size is 16px on a 1600 width screen.
   *
   * Decreases linearly for small screens down to 12px for 320 width screen.
   */
  font-size: clamp(12px, calc(12px + 4 * (100vw - 320px) / (1600 - 320)), 16px);
  font-family: JetBrains Mono, monospace;
  line-height: 1.5;
}

p, li {
  font-size: 1rem;
}
h1 {
  font-size: 1.4rem;
}
h2 {
  font-size: 1.2rem;
}

header {
  font-size: 1.4rem;
  font-weight: bold;
}

p code {
  font-weight: normal;
  font-size: 0.9rem;
}

pre code {
  font-size: 0.8rem;
}

.article-tags {
  font-size: 0.9rem;
  font-style: italic;
}
