body {
  background-color: white;
  margin: 0 auto;
  max-width: 800px;
}

main {
  p {
    text-align: justify;
  }

  img {
    /* Scale down the image if necessary, keeping the same aspect ratio. */
    height: auto;
    max-width: 100%;

    /* Center horizontally. */
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

header {
  margin: 10px 0 20px 0;
  overflow: auto;

  a:link, a:visited {
    color: black;
  }
}

a:link, a:visited {
  color: brown;
  text-decoration: none;
}
a:hover, a:active {
  text-decoration: underline;
}

p code {
  background-color: lightgray;
  border-radius: 4px;
  padding: 2px;
}

pre code mark {
  background-color: lightgray;
}

.article-illustration {
  height: auto;
  width: 100%;
}
