body {
  background-color: white;
  max-width: 800px;
  margin: 0 auto;
}

main {
  margin-inline: 20px;

  p {
    text-align: justify;
  }

  img {
    /* Scale down the image if necessary, keeping the same aspect ratio. */
    height: auto;
    max-width: 100%;

    /* Center horizontally. */
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

header {
  margin: 10px 20px 20px 20px;
  overflow: auto;

  a:link, a:visited {
    color: black;
  }
}

footer {
  margin-inline: 20px;
}

a:link, a:visited {
  color: brown;
  text-decoration: none;
}
a:hover, a:active {
  text-decoration: underline;
}

p code {
  background-color: lightgray;
  border-radius: 4px;
  padding: 2px;
}

pre code mark {
  background-color: lightgray;
}

.article-tags {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    display: inline;
  }

  li:not(:last-child):after {
    content: " | ";
  }
}

.article-illustration {
  height: auto;
  width: 100%;
}
