@font-face {
  font-family: "Ubuntu";
  src: url(/styles/fonts/UbuntuSans.ttf) format("truetype");
}

body {
  background-color: white;
  font-family: Ubuntu;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 800px;
}

main {
  p {
    text-align: justify;
  }

  img {
    /* Center horizontally. */
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

header {
  font-size: 1.3rem;
  margin: 0 0 10px 0;
  overflow: auto;

  a:link, a:visited {
    color: black;
  }
}

a:link, a:visited {
  color: brown;
  text-decoration: none;
}
a:hover, a:active {
  text-decoration: underline;
}

p code {
  background-color: lightgray;
  border-radius: 4px;
  font-family: monospace;
  padding: 2px;
}

pre code {
  font-size: 0.8rem;
}

.article-illustration {
  height: auto;
  width: 100%;
}

.article-tags {
  font-size: 0.9rem;
  font-style: italic;

  li {
    list-style-type: none;
  }
}
