body {
  font-family: lato;
  line-height: 1.7;

  background-color: floralwhite;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

p {
  text-align: justify;

  code {
    background-color: lightgray;
    font-family: monospace;

    padding: 2px;
    border-radius: 4px;
  }
}

a:link, a:visited {
  text-decoration: none;
  color: darkslategray;
}

header {
  margin: 0 20px;
  overflow: auto;

  strong {
    float: left;
    font-size: 20px;
  }

  ul {
    float: right;
  }
  li {
    display: inline;
  }
}
