body {
  font-family: lato;
  line-height: 1.7;

  background-color: floralwhite;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

p {
  text-align: justify;

  code {
    background-color: lightgray;
    font-family: monospace;

    padding: 2px;
    border-radius: 4px;
  }
}

a:link, a:visited {
  text-decoration: none;
  color: darkslategray;
}

header {
  margin: 0 50px;
  overflow: auto;

  ul {
    align-items: center;

    li {
      float: right;
      display: inline;
      padding: 0 5px;
    }

    .nav-home {
      float: left;
      font-size: 20px;
    }
  }
}
